@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);   
}
@media screen and (max-width:700px) {
.main {
    background-image: url(assets/images/bg.jpg);
    height: 73vh;
}
}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.59;
    position: absolute;
    top: 0;
}
@media screen and (max-width:700px) {
.main .box {
    height: 73vh;
    background-color: black;
}
}

nav {
    max-width: 60vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 100px;
}

@media screen and (max-width:700px) {

    nav{
        max-width: 90vw;
    }
}
nav img {
    width: 130px;
    z-index: 10;
    position: relative;
}


nav button {
    z-index: 10;
    position: relative;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    z-index: 10;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    padding: 0px 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
@media screen and (max-width:700px) {
.hero-buttons {
    display: flex;
    flex-direction:column;
}
}
.hero> :nth-child(1) {
    text-align: center;
}



@media screen and (max-width:700px) {
.hero> :nth-child(1) {
   font-size: 32px;
}
.hero> :nth-child(2) {
   font-size: 16px;
}
.hero> :nth-child(3) {
   font-size: 16px;
}

}

.hero> :nth-child(2) {
    text-align: center;
}

.hero> :nth-child(3) {
    text-align: center;
}

.seperation {
    height: 5px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.021);
    border: none;
    border-radius: 3px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 400;
}

.btn-red {
    padding: 3px 24px;
    background-color: red;
    color: white;
    font-weight: 400;
    font-size: 20px;

}

.btn-red-sm {
    color: white;
    background-color: red;
}

.main input {
    border-radius: 4px;
    padding: 7px 101px 8px 14px;
    font-weight: 700;
    font-size: 12px;
    background-color: black;
    opacity: 0.55;
    border: 1px solid white;
    color: white;
}

.main ::placeholder {
    color: white;
}


.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    align-items: center;
    /* flex-wrap: wrap; */
}

@media screen and (max-width:700px) {

    .first {
        flex-wrap: wrap;
    }
}




.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}
@media screen and (max-width:700px) {
.secImg img {
    width: 395px;
  
}
}

.secImg video {
    position: absolute;
    top: 85px;
    right: 0;
    width: 490px;
}

@media screen and (max-width:700px) {
.secImg video {
    width: 338px;
}

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}


section.first>div :nth-child(1) {
    font-size: 44px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 22px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 40px;
}


@media screen and (max-width:700px) {
.faq h2 {
    text-align: center;
    font-size: 20px;
}

}

.faqbox {
    display: flex;
    background-color: #2d2d2d;
    padding: 15px;
    width: 100%;
    max-width: 50vw;
    justify-content: space-between;
    margin: 10px auto;
    cursor: pointer;
    font-size: 20px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.faqbox:hover {
    background-color: rgb(85, 83, 83);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:700px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

}




.footer-item {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .Questions {
    padding: 30px 0;
}